@mixin clearfix {
    &:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@mixin border-radius($val: 0) {
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
}

@mixin box-shadow($val: none) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    box-shadow: $val;
}

@mixin transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}

@mixin transition($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin gradient($origin: top, $start: #ffffff, $stop: #e4e4e4) {
    background-color: $start;
    background-image: -webkit-linear-gradient($origin, $start, $stop);
    background-image: -moz-linear-gradient($origin, $start, $stop);
    background-image: -o-linear-gradient($origin, $start, $stop);
    background-image: -ms-linear-gradient($origin, $start, $stop);
    background-image: linear-gradient($origin, $start, $stop);
}

@mixin font($font-family, $font-weight, $font-style, $font-name, $file-name, $font-path){
    $font-file: '#{$font-path}/#{$file-name}';
    @font-face {
        font-family: $font-family;
        font-style: $font-style;
        font-weight: $font-weight;
        src: local('#{$font-name}'),
             local('#{$file-name}'),
             url(#{$font-file}.woff2) format('woff2'),
             url(#{$font-file}.woff) format('woff'),
             url(#{$font-file}.ttf) format('truetype'),
             url(#{$font-file}.eot),
             url(#{$font-file}.eot?#iefix) format('embedded-opentype'),
             url(#{$font-file}.svg##{$font-family}) format('svg');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
}

@mixin square-ratio($width, $height) {
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .square-element {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin fade-color($color: #ffffff) {
    &:after {
        content: "";
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, fade($color, 0%)), color-stop(100%, fade($color, 100%)));
        background-image: -webkit-linear-gradient(left, fade($color, 0%), fade($color, 100%));
        background: linear-gradient(to right, fade($color, 0%), fade($color, 100%));
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, StartColorStr='#00$color', EndColorStr='$color');
        bottom: 0;
        max-height: 100%;
        position: absolute;
        right: 0;
        height: 10000px;
        width: 60px;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: "alpha(opacity=#{$opacity-ie})";
}

@mixin placeholder($color) {
    &::-moz-placeholder { color: $color; } // Firefox
    &:-ms-input-placeholder { color: $color; } // Internet Explorer 10+
    &::-webkit-input-placeholder { color: $color; } // Safari and Chrome
}

@mixin reset-default() {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin text-truncate() {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}