.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    font-size: 0;
    font-family: empty;
}
.rating > .icon {
    font-size: 40px;
    display: inline-block;
    position: relative;
    color: #000;
    opacity: 0.2;
    cursor: pointer;
}
.rating > .icon:hover,
.rating > .icon:hover ~ .icon,
.rating > .icon.active,
.rating > .icon.active ~ .icon {
    opacity: 1;
}

.rating.half > .icon {
    opacity: 1;
    font-size: 0;
    font-family: empty;
    width: 40px;
}

.rating.half > .icon > :first-child,
.rating.half > .icon > :last-child {
    font-size: 40px;
    opacity: 0.2;
    width: 20px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.rating.half > .icon > :last-child:before {
    position: absolute;
    position: absolute;
    left: 0;
    top: 0;
}

.rating.half > .icon > :first-child:hover,
.rating.half > .icon:hover ~ .icon > :first-child,
.rating.half > .icon.active > .active,
.rating.half > .icon.active ~ .icon > :first-child,
.rating.half > .icon > :last-child:hover,
.rating.half > .icon:hover ~ .icon > :last-child,
.rating.half > .icon.active > :last-child,
.rating.half > .icon.active ~ .icon > :last-child,
.rating.half > .icon > :first-child:hover ~ :last-child {
    opacity: 1;
}