@import "bootstrap.min.css";
@import "opensans-font.css";
@import "fontwso2.css";
@import "fontwso2-extend.css";

@font: 'Open Sans', Arial, Helvetica, sans-serif;
@border-radius: 0;
@box-shadow: none;

@color1: #222;
@color2: #fff;
@color3: #2c313b;
@color4: #F47415;

@popover-background-color: @color1;
@popover-tiles-background-color: #444;
@popover-tiles-hover-background-color: #555;
@popover-tiles-color: @color2;

@navbar-height: 50px;
@navbar-padding: 0 15px;
@navbar-color1: #4D5461;

@footer-height: 40px;
@footer-background: @color1;
@footer-color: #cbcbcb;

@inverse-layout-background: @color3;
@inverse-layout-color: @color2;

.clearfix() {
    &:after {
        content: " ";
        display: block;
        font-size: 0;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

html {
    position: relative;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

body {
    color: @color1;
    margin-bottom: @footer-height;
    font-family: @font;
    font-weight: 100;
}

body > .container,
body > .container-fluid {
    padding: 3%;
}

body.inverse, body.inverse footer {
    background: @inverse-layout-background;
    color: @inverse-layout-color;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.row.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right:0;
    padding-left:0;
}

.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
    margin-left: 0;
}

/* ========================================================================
 * header styles
 * ======================================================================== */

header {
    background: @color1;
    min-height: 50px;
    position: relative;
}

header .brand h1 {
    margin: 0 0 0 5px;
    display: inline-block;
    line-height: 1;
}

header .brand h1 em {
    font-weight: 500;
    font-size: 17px;
    margin: 0;
    color: @color2;
    padding: 3px 0 0 0;
    font-style: normal;
    text-transform: uppercase;
}

header .brand img.logo {
    height: 24px;
}

header .dropdown-menu {
    border-radius: @border-radius;
    padding: 10px;
}

header .dropdown {
    display: inline-block;
    color: @color2;
    padding: 6px 0;
    text-transform: capitalize;
}

header .dropdown .icon {
    margin-left: 2px;
}

/* ========================================================================
 * navbar styles
 * ======================================================================== */

.navbar.affix {
    top: 0;
    width: 100%;
    z-index: 1000000;
}

.navbar {
    background: @color3;
    border: none;
    border-radius: @border-radius;
    margin-bottom: 0;
}

.navbar-tiles-toggle {
    float: left;
    height: @navbar-height;
    padding: 0 15px;
    line-height: @navbar-height;
    margin-left: -15px;
    font-size: 18px;
    background: @color4;
    color: @color2;
    
    &:hover, &:focus, &:active {
        color: @color2;
        background: darken(@color4, 10%);
    }
}

.navbar-toggle {
    border-radius: @border-radius;
    border: none;
}

.navbar-default .navbar-nav > li > a {
    color: @color2;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: @navbar-height;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    color: @color2;
    margin-left: 0;
    padding: 0 15px;
    line-height: @navbar-height;
    text-transform: uppercase;
    background: #383838;
}

.navbar > .container .navbar-brand a,
.navbar > .container-fluid .navbar-brand a {
    color: @color2;
    font-size: 13px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: none;
    -webkit-box-shadow: @box-shadow;
    box-shadow: @box-shadow;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: @color2;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background: @navbar-color1;
    color: @color2;
}

.breadcrumb {
    border-radius: @border-radius;
    margin: 0;
}

/* ========================================================================
 * footer styles
 * ======================================================================== */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: @footer-height;
    overflow: hidden;
    color: @footer-color;
    background: @footer-background;
}

footer > .container,
footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

footer > .container p,
footer > .container-fluid p {
    line-height: @footer-height;
    margin-bottom: 0;
}

footer .icon {
    font-size: 21px;
    vertical-align: middle;
    color: @footer-color;
}

footer a, footer a:hover {
    color: @footer-color;
}

/* ========================================================================
 * body styles
 * ======================================================================== */

.body-wrapper a:hover {
  text-decoration: underline;
}

.page-header {
    margin: 0 0 20px;
}

.page-header > h1 {
    margin-top: 0;
}

.lead {
    margin-bottom: 0;
}

/* ========================================================================
 * popover styles
 * ======================================================================== */

.popover {
    border-radius: @border-radius;
    box-shadow: @box-shadow;
    background: @popover-background-color;
    max-width: 384px;
    .clearfix;
}

.popover.bottom > .arrow:after {
    border-bottom-color: @popover-background-color;
}

.popover.bottom.right > .arrow {
    top: 0;
    left: 25px;
    border-right-color: transparent;
}

.popover.bottom.right > .arrow:after {
    border-right-color: transparent;
    border-left-width: 10px;
}

.popover.bottom {
    top: 100%;
}

.popover-content {
    padding: 4px;
}

.popover ul.tiles {
    .clearfix;
}

.popover ul.tiles, .popover ul.tiles > li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.popover ul.tiles > li {
    display: inline-block;
    float: left;
}

.popover ul.tiles li a {
    display: block;
    margin: 4px;
    padding: 5px;
    list-style: none;
    width: 85px;
    height: 85px;
    text-align: center;
    vertical-align: text-bottom;
    color: @popover-tiles-color;
    text-decoration: none;
    background: @popover-tiles-background-color;
    
    &:hover {
        background: @popover-tiles-hover-background-color;
    }
}

.popover ul.tiles li a .icon {
    display: block;
    font-size: 35px;
    margin: 3px 0 7px;
    height: 35px;
}

.popover ul.tiles li a .name {
    display: block;
    line-height: 14px;
    font-size: 12px;
    height: 28px;
    overflow: hidden;
}

/* ========================================================================
 * loading styles
 * ======================================================================== */

.loading {
    position: relative;
}

.loading .loading-bg {
    background: #000;
    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    z-index: 10000000;
}

.loading .loading-animation {
    position: absolute;
    z-index: 10000001;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 75px;
    -webkit-transform: translate(-50%, -50%);
}

.loading .loading-animation .logo {
    position: relative;
}

.loading .loading-animation .logo .pulse-line,
.loading .loading-animation .logo .circle {
    fill: none;
    stroke: #fff;
}

.loading .loading-animation .logo .circle {
    stroke-dasharray: 100;
    opacity: 0.5;
}

.loading .loading-animation .logo .pulse-line {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 4s linear  infinite;
    opacity: 0;
}

@keyframes dash {
    0% {
      opacity: 0.9;
    }
    10% {
      stroke-dashoffset: 200;
      opacity: 0.9;
    }
    70% {
      stroke-dashoffset: 500;
      opacity: 0.9;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}

.loading .loading-animation .logo .signal {
    border: 5px solid #fff;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    opacity: 0;
    position:absolute;
    top: 0;
    animation: pulsate 4s ease-out infinite;
    animation-delay: 1.5s;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes pulsate {
    0%, 30%  {
      transform: scale(0.9);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    60% {
      transform: scale(1.2);
      opacity: 0;
    }
}

.loading .loading-animation p {
    color: #fff;
    text-align: center;
    font-size: 11px;
    margin-top: 4px;
}