.avatar{

  font-size: 30px;
  border: 1px solid #c5c5c5;
  background-color: #ccc;
    img{
      border-radius: 50%;
    }
    span{
      color: #fff;
      position: relative;
      left: 14px;
      width: 50px;
      height: 50px;
  }
}
.avatar-rounded{
  border-radius: 50px;
}