.avatar {
  display: inline-flex;
  color: $white;

  img {
    width: 100%;
    height: auto;
  }
  span {
    position: relative;
    left: 14px;
    width: 40px;
    height: 40px;
    margin-left: -10px;
    overflow: hidden;
    font-size: 1.5em;
    line-height: 46px;
    text-align: center;
  }
  &.avatar-rounded {
    overflow: hidden;
    border-radius: 50%;
  }

  &.avatar-outline-primary {
    @include avatar-variant($avatar-primary-bg, $avatar-primary-border-color, $avatar-primary-text);
  }

  &.avatar-outline-secondary {
    @include avatar-variant($avatar-secondary-bg, $avatar-secondary-border-color, $avatar-secondary-text);
  }

  &.avatar-outline-success {
    @include avatar-variant($avatar-success-bg, $avatar-success-border-color, $avatar-success-text);
  }

  &.avatar-outline-info {
    @include avatar-variant($avatar-info-bg, $avatar-info-border-color, $avatar-info-text);
  }

  &.avatar-outline-warning {
    @include avatar-variant($avatar-warning-bg, $avatar-warning-border-color, $avatar-warning-text);
  }

  &.avatar-outline-danger {
    @include avatar-variant($avatar-danger-bg, $avatar-danger-border-color, $avatar-danger-text);
  }
}
