.chips{
    border: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: default;
    text-decoration: none;
    margin: 4px;
    padding: 0px;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    background-color: rgb(224, 224, 224);
    border-radius: 16px;
    white-space: nowrap;
    width: fit-content;

    span{
	    color: rgba(0, 0, 0, 0.87);
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 32px;
	    padding-left: 12px;
	    padding-right: 12px;
	    user-select: none;
	    white-space: nowrap;
    }

    .deleteIcon{
        background-color: #a6a6a6;
	    height: 24px;
	    width: 24px;
	    user-select: none;
	    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	    cursor: pointer;
	    margin: 4px 4px 0px -8px;
	    border-radius: 50px;
    }

    .avatar{
        height: 32px;
        width: 32px;
    }
}

.chip-clickable{
	cursor:pointer;
}
