
.divider {
    border-top: 1px solid;
  border-color: #333;

  &.divider-absolute {
    position: absolute;
    width: 100%;
  }
  &.divider-inset{
    margin-left: 72px;
  }
  &.divider-light{
    border-color: #ccc;
  }
}