// Paper

$paper-spacer-y:            .75rem !default;
$paper-spacer-x:            1.25rem !default;
$paper-border-width:        1px !default;
$paper-border-radius:       $border-radius !default;
$paper-border-color:        rgba($black,.125) !default;
$paper-inner-border-radius: calc(#{$paper-border-radius} - #{$paper-border-width}) !default;
$paper-cap-bg:              rgba($black, .03) !default;
$paper-bg:                  $white !default;

$paper-img-overlay-padding: 1.25rem !default;

$paper-deck-margin:          ($grid-gutter-width / 2) !default;

$paper-columns-count:        3 !default;
$paper-columns-gap:          1.25rem !default;
$paper-columns-margin:       $paper-spacer-y !default;

