// Paper

.paper {
  display: inline-flex;
  margin: $paper-margin;
  background-color: $paper-bg;
  border-radius: $paper-border-radius;
  box-shadow: $paper-box-shadow;

  &.paper-circle {
    border-radius: 50%;
  }
}
