body {
    background: url(../images/pattern.svg) no-repeat fixed;
}
body:before {    
    background: #4f015d;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 0;
    opacity: 0.7;
}