.form-horizontal {
  max-width: $form-control-max-width;
}

.control-label {
  font-weight: 400;
}

.input-group-btn {
  .control-label {
    font-size: 14px;
    padding-top: 0;
    margin: 0 5px;
  }
  .btn {
    &,
    &:hover,
    &:focus {
      border-color: #ccc;
    }
  }
}

.remove-icon-ring-on-hover {
  &:hover {
    .fw-ring {
      display: none;
    }
  }
}

.has-form-control-btn {
  position: relative;
}

.form-control-btn {
  &,
  &:focus,
  &:active,
  &:hover {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    background: transparent;
    border: none;
    z-index: 5;
    opacity: 0.7;
    font-size: 14px;
  }

  &:hover {
    opacity: 1;
  }
}

.form-control {
  width: 100%;

  &-xs {
    min-width: calc(#{$form-control-max-width}/12);
  }
  &-sm {
    min-width: calc(#{$form-control-max-width}/9);
  }
  &-md {
    min-width: calc(#{$form-control-max-width}/6);
  }
  &-lg {
    min-width: calc(#{$form-control-max-width}/2);
  }
}

input[type=number] {
  &.form-control {
    padding: 0 0 0 12px;
  }
}

.input-wrap {
  width: 100%;
  .btn.wrap-input-right {
    border-left: none;
  }
}

.file-upload-control {
  input[type=file] {
    display: none;
  }
  input[readonly] {
    background-color: white !important;
    cursor: text !important;
  }
}

@media only screen and (max-width: 768px) {
  .input-group.res-wrap {
    &,
    & .form-control,
    & .control-label,
    & .input-group-btn  {
      min-width: 100%;
      display: block;
      float: none;
    }
  }

  .input-group.res-wrap .control-label {
    line-height: 34px;
    margin: 5px 0 0 0;
  }

  .form-control {
    &-xs {
      min-width: calc(#{$form-control-max-width}/24);
    }
    &-sm {
      min-width: calc(#{$form-control-max-width}/18);
    }
    &-md {
      min-width: calc(#{$form-control-max-width}/12);
    }
    &-lg {
      min-width: calc(#{$form-control-max-width}/4);
    }
  }
}

/* ========================================================================
 * radio button styles
 * ======================================================================== */

.custom-radio {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
  margin-top: 0;
  cursor: pointer;
  font-weight: 300;

  & > input[type=radio] {
    position: absolute;
    opacity: 0;

    &:checked + .helper:after {
      position: absolute;
      display: block;
      content: "";
      z-index: 2;
      font-size: 16px;
      font-weight: bold;
      left: 5px;
      margin-left: 0;
      top: 50%;
      margin-top: -5px;
      background-color: $form-radio-checked-bg;
      width: 10px;
      height: 10px;
      border-radius: 100%;
    }

    &:checked + .helper:before {
      border: 2px $form-radio-checked-border-color solid;
    }

    &:disabled + .helper:before {
      cursor: default;
      background: #e6e6e6;
    }

    &:disabled + .helper:after {
      background-color: #8a8a8a;
    }

    &:not(:disabled) + .helper:before {
      border-color: $form-radio-checked-border-color;
    }
  }

  & .helper {
    padding-left: 26px;
    padding-top: 1px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      content: "";
      text-indent: -9999px;
      border: 2px #d9d9d9 solid;
      z-index: 1;
      opacity: 1;
      top: -1px;
      left: 0;
      border-radius: 100%;
    }
  }
}

/* ========================================================================
 * checkbox styles
 * ======================================================================== */

.custom-checkbox {
  display: inline-block;
  margin: 0 10px 0 0;
  cursor: pointer;
  font-weight: 300;

  & > input[type=checkbox] {
    position: absolute;
    opacity: 0;

    &:checked + .helper:before {
      border: 1px $form-checkbox-checked-border-color solid;
    }

    &:checked + .helper:after {
      position: absolute;
      display: block;
      content: "\e617";
      font-size: 10pt;
      font-weight:700;
      height: 16px;
      width: 16px;
      line-height: 16px;
      z-index: 2;
      top: 2px;
      margin-top: 0;
      left: 2px;
      margin-left: 0;
      text-align: center;
      background: $form-checkbox-checked-bg;
      color: $form-checkbox-checked-font-color;
      font-family: font-wso2;
    }

    &:not(:checked) + .helper:after {
      display: none;
    }

    &:disabled + .helper:before {
      cursor: default;
      background: #e6e6e6;
    }

    &:disabled + .helper:after {
      color: #8a8a8a;
    }
   
  }

  & .helper {
    padding-left: 23px;
    position: relative;

    &:before {
      position: absolute;
      display: block;
      height: 20px;
      width: 20px;
      content: "";
      text-indent: -9999px;
      border: 1px $form-checkbox-checked-border-color solid;
      z-index: 1;
      opacity: 1;
      top: 0;
      left: 0;
    }
  }
}
