.list-group-item {
  &.active,
  .active {
    > & {
      &,
      &:focus,
      &:hover {
        color: $gray-lightest;
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
  &.active {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

a {
  .list-group-item:hover {
    text-decoration: none;
  }
}

.list-group {
  &.nav {
    > .list-group-item {
      padding: 0;
    }
  }
}
