.nav-pills {
  > li.active {
    > a {
      &,
      &:focus,
      &:hover {
        color: $gray-lightest;
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}

@media (min-width:768px) {
  .tab-content {
    > .tab-pane {
      display: none !important;
    }
  }

  .tab-content {
    > .active {
      display: block !important;
    }
  }
}
