.nav-pills {
  > li.active {
    > a {
      &,
      &:focus,
      &:hover {
        color: $gray-lightest;
        background: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}