.pagination {
  > li {
    & > a,
    & > a:focus,
    & > a:hover,
    & > span,
    & > span:hover {
      text-decoration: none;
      color: $pagination-color;
    }
  }
  > .disabled {
    & > a,
    & > a:focus,
    & > a:hover,
    & > span,
    & > span:focus,
    & > span:hover {
      display: none;
    }
  }
}