.tags-wrapper{
    margin-top: 15px;
}

.tag-title {
    background-color: #444444;
    border: 1px solid #444444;
    height: 40px;
    padding-top: 5px;
    width: 200px;
    padding-left: 10px;
    font-size: 18px;
    color: #fff;

}

.tag-content {
    word-wrap: break-word;
    width: 200px;
    padding-left: 10px;
    line-height: 30px;
    border-right: 1px solid #e9e9e9;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 15px;
    background-color: #FBFBFB;
    padding-top: 7px;
    display: inline-block;

}

.tag-content a{
    display: block;
    float: left;
    padding: 0px 5px;
}

.tag-content > label {
    padding: 3px 8px;
    line-height: 19px;
    font-weight: 400;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #E4E3E3;
    font-size: 12px;
}

.tag-content > label:hover {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-content > li {
    padding: 3px 8px;
    line-height: 19px;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #E4E3E3;
    font-size: 12px;
    float: left;
    list-style: none;
    margin: 5px;
}

.tag-content > li:hover {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-content > li.active {
    background-color: #C9E4FF;
    border: 1px solid #C9E4FF;
}

.tag-more {
    float: right;
    margin-right: 11px;
}