//
// Switch styles
// --------------------------------------------------

.switch {
  display: inline-block;
  width: 40px;
  cursor: pointer;
  position: relative;
  margin-top: -4px;

  & > input[type=checkbox] {
    position: absolute;
    opacity: 0;

    &:checked + .helper + .text {
      display: inline-block;
    }

    & + .helper:after {
      position: absolute;
      left: 18px;
      top: -2px;
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      cursor: pointer;
      background: $switch-handler-active-color;
      z-index: 2;
      border-radius: 12px;

      -webkit-transition: left 0.2s ease-in-out;
      -moz-transition: left 0.2s ease-in-out;
      -o-transition: left 0.2s ease-in-out;
      transition: left 0.2s ease-in-out;
    }

    &:not(:checked) + .helper:after {
      left: 1px !important;
      background: $switch-handler-inactive-color;
    }

    &:not(:checked) + .helper:before {
      background: $switch-inactive-bg !important;
    }

    &:disabled + .helper:after {
      cursor: default !important;
      background: $switch-handler-disabled-color !important;
    }

    &:disabled + .helper:before {
      cursor: default !important;
      background: $switch-disabled-bg !important;
    }
  }

  & .helper {
    padding-left: 52px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 2px;
      display: block;
      content: "";
      width: 40px;
      height: 16px;
      cursor: pointer;
      background: $switch-active-bg;
      margin-left: 2px;
      z-index: 1;
      border-radius: 8px;
    }
  }

  & .text {
    display: none;
    margin-left: 5px;
    font-weight: 100;
  }
}