//
// Tree-view
// --------------------------------------------------

.tree-view,
.tree-view ul {
  @include reset-default;
}

.tree-view {
  ul {
    margin-left: 0.7em;
    position: relative;

    li {
      display: none;
    }
  }
  li {
    margin: 0;
    padding: 0 2em;
    line-height: 2em;
    position: relative;

    &[aria-expanded=true] {
      > ul {
        > li {
          display: list-item;
        }
      }
    }
    & > .icon {
      font-family: $icon-font-name;
      font-style: normal;
      background: $brand-primary;
      color: $gray-lightest;
      height: 20px;
      width: 20px;
      text-align: center;
      line-height: 20px;
      font-size: 10px;
      display: inline-block;
      margin-right: 10px;
    }
    & > .icon:before {
      content: "\e687";
    }
    &[aria-expanded=true] > .icon:before {
      content: "\e685";
    }
    a {
      &,
      &:hover {
        text-decoration: none;
      }
    }
  }
  .branch {
    cursor: pointer;
  }
  button {
    &:active,
    &:focus {
      cursor: pointer;
      text-decoration: none;
      border: none;
      background: transparent;
      @include reset-default;
    }
  }
  &.tree-view-lines {
    ul {
      &:before {
        content: "";
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        bottom: 15px;
        left: 0;
        border-left: 1px solid;
      }
      & li:before {
        content: "";
        display: block;
        width: 20px;
        height: 0;
        border-top: 1px solid;
        margin-top: -1px;
        position: absolute;
        top: 1em;
        left: 0;
      }
    }
  }
  .checkbox,
  .radio {
    margin: 0;
    display: inline-block;
  }
  .checkbox input[type=checkbox],
  .checkbox-inline input[type=checkbox],
  .radio input[type=radio],
  .radio-inline input[type=radio] {
    margin-top: 6px;
  }
}
