/* ========================================================================
 * document styles
 * ======================================================================== */

body > .page-content-wrapper > .container,
body > .page-content-wrapper > .container-fluid {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    body > .page-content-wrapper > .container,
    body > .page-content-wrapper > .container-fluid {
        padding: 0;
        margin: 0;
    }
}

body.inverse {
    background: $brand-primary;
    color: $gray-lightest;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    cursor: pointer;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

br.spacer {
    display: block;
    line-height: 30px;
}

pre, .well {
    border: none;
}

.badge {
    margin-bottom: 5px;
    padding: 4px 7px;
}

.fade-edge {
    @include fade-color;
}

body.inverse .fade-edge {
    @include fade-color($brand-primary);
}

/* ========================================================================
 * body styles
 * ======================================================================== */

.body-wrapper {
    padding: 40px;
}

.body-wrapper a:hover {
    text-decoration: underline;
}

.body-wrapper a.btn:hover {
    text-decoration: none;
}

@media (max-width:767px){
    .body-wrapper {
        padding: 20px;
    }
}

.page-header {
    margin: 0 0 20px;
}

.lead {
    margin-bottom: 0;
}


























