//
// Datatables
// --------------------------------------------------

table {
  &.dataTable {
    thead {
      .sorting:after,
      .sorting_asc:after,
      .sorting_desc:after {
        font-family: $icon-font-name;
      }
      .sorting {
        padding-right: 30px !important;
        &:after {
          content: $icon-sort-content;
        }
      }
      .sorting_asc:after {
        content: $icon-sort-up-content;
      }
      .sorting_desc:after {
        content: $icon-sort-down-content;
      }
      .no-sort {
        pointer-events: none!important;
        cursor: default!important;
        &:after {
          display: none!important;
        }
      }
    }
    tr {
      &.filter-row {
        td,
        th {
          padding: 0 8px 10px;
        }
      }
    }
    &.dtr-inline {
      &.collapsed {
        > tbody {
          > tr {
            & > td:first-child:before,
            & > th:first-child:before {
              top: 50%;
              left: 10px;
              margin-top: -8px;
            }
            & > td:first-child:first-child,
            & > th:first-child:first-child {
              padding-left: 40px !important;
            }
          }
        }
      }
    }
  }
}

.dataTables_wrapper {
  ul {
    &.sort-list {
      li {
        a {
          &:before,
          &.sorting_asc:before,
          &.sorting_desc:before
          {
            font-family: $icon-font-name;
            margin-right: 10px;
            font-size: 11px;
            @include opacity(1);
          }
          &:before {
            @include opacity(0.2);
            content: $icon-sort-content;
          }
          &.sorting_asc:before {
            content: $icon-sort-up-content;
          }
          &.sorting_desc:before {
            content: $icon-sort-down-content;
          }
        }
      }
    }
  }
  > div.row {
    > div {
      text-align: left;
    }
  }
}

.dataTables_filter,
.dataTables_toolbar,
.dataTables_length,
.dataTables_info {
  text-align: left;
  float: left;
}

.dataTables_toolbar,
.dataTables_paginate {
  float: right;
}

.dataTablesTop,
.dataTablesBottom {
  @include clearfix;
  margin: 0;
}

.dataTablesBottom {
  .dataTables_info {
    padding: 4px 0 0 10px;
    margin-left: 10px;
    border-left: 1px solid #e4e4e4;
  }
}

.dataTables_filter {
  .search-icon {
    position: relative;
    z-index: 1;
    right: -10px;
    top: 0;
    color: #7B7B7B;
    cursor: pointer;
  }
  input {
    padding: 0 15px 0 35px;
    min-width: 300px;
    margin: 0 0 0 -14px !important;
  }
}

.table {
  &.dataTable {
    tbody {
      tr {
        &.active {
          td,
          th,
          &:hover td,
          &:hover th {
            background-color: $brand-primary !important;
          }
        }
      }
      td {
        &.dataTables_empty {
          overflow: visible;
          cursor: default;
          background: none;
          padding: 0;
        }
      }
    }
  }
}
