.modal-open {
  padding: 0 !important;
}

.modal {
  z-index: 100000001;
  padding: 0 !important;
}

.modal-backdrop {
  z-index: 100000000;
}

.modal-content {
  background: $gray-darker;
  color: $brand-light;
  @include border-radius;
  //@include box-shadow;
}

.modal-header {
  border-bottom: none;
  padding: 15px 15px 0;

  .close {
    color: $brand-light;
    text-shadow: none;
    opacity: 0.8;
  }
}

.modal-body {
  padding: 0 15px;
}

.modal-dialog {
  margin: 80px auto;
}

.modal-footer {
  border-top: none;
}

@media only screen and (max-width: 768px) {
  .modal {
    padding: 0 15px !important;
  }
}

@media only screen and (min-width: 1280px){
  .modal-dialog {
    width: 1000px;
  }
}