$nav-wizard-tab-background-color: $gray;
$nav-wizard-tab-step-number-background-color: darken($nav-wizard-tab-background-color, 10%);
$nav-wizard-tab-hover-background-color: lighten($nav-wizard-tab-background-color, 10%);

$nav-wizard-tab-active-background-color: $brand-primary;
$nav-wizard-tab-active-step-number-background-color: darken($nav-wizard-tab-active-background-color, 10%);


.nav-pills {
  > li.active {
    > a {
      &,
      &:focus,
      &:hover {
        border-color: $nav-pills-border-color;
      }
    }
  }
}

@media (min-width:768px) {
  .tab-content {
    > .tab-pane {
      display: none !important;
    }
  }

  .tab-content {
    > .active {
      display: block !important;
    }
  }
}

.nav-wizard {
  border-bottom: 1px solid #626262;
    
  li {
    & > a,
    & > a:focus {
      background-color: $nav-wizard-tab-background-color;
      color: #fff;
      text-align: left;
      padding: 0;
      
      &:hover {
        background-color: $nav-wizard-tab-hover-background-color;   
      }
      & > span {
        display: inline-block;
        vertical-align: middle;
      }
      & > .step-number {
        background-color: $nav-wizard-tab-step-number-background-color;
        padding: 14px 20px;
        font-size: 25px;
      }
      & > .step-desc {
        padding: 10px;    
      }
      h2,
      p {
        margin: 0;      
      }
      h2 {
        font-size: 20px;      
      }
    }
    &.active > a,
    &.active > a:focus {
      background-color: $nav-wizard-tab-active-background-color;
      & > .step-number {
        background-color: $nav-wizard-tab-active-step-number-background-color;
      }
    }
  }
  &.nav-wizard-control li.control {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-wizard {
    li:not(:last-child) {
      padding-right: 15px;
    }
    &.nav-wizard-control {
      position: relative;
      padding: 0 20px 0 34px;
    
      li.control {
        width: 31px;
        display: block;
        padding-right: 1px;
        position: absolute;
        top: 0;
      
        &.control-left {
          left: 0;   
        }
        &.control-right {
          right: 0;   
        }
        & a {
          padding: 22px 18px 22px 12px;
          text-align: center;  
        }
      }
    }
  }
}
