.panel-default {
    .panel-heading{
        cursor:pointer;
    }
    .panel-title {
        font-weight: 400;
        .heading {
            display:block;
        }
        .description{
            color:#666;
    font-weight: 300;
            font-size:14px;
  }
}
}

.panel-extended{
    .flex-container {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
      }

    .custom-radio.flex-item{
        -webkit-flex:0;
        flex: 0;
    }
    .panel-title.flex-item{
        -webkit-flex:1;
        flex: 1;
    }
    .status.flex-item{
        -webkit-flex:0;
        flex: 0;
    }

    .panel-heading .status::before, .panel-heading[data-toggle="collapse"] .status::before{
        font-family: 'font-wso2';
        font-size:14px;
        content:"\e685";
        width:16px;
        display:block;
    }
    .panel-heading.collapsed .status::before, .panel-heading.collapsed[data-toggle="collapse"] .status::before{
        content:"\e687";
    }
    .panel-heading{
        > .fw-stack{
            margin-right: 15px;
        }
        > .fw{
            margin-right: 15px;
        }
    }
}