* {
    outline: none !important;
}
*:before,
*:after {
    outline: none !important;
}

html {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

body {
    min-height: 100%;
    font-weight: $font-weight-base;
    width: 100%;
    overflow: hidden;
    position: relative;
}